apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "todo-chatbot.fullname" . }}-config
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "todo-chatbot.labels" . | nindent 4 }}
data:
  DATABASE_URL: {{ .Values.backend.env.DATABASE_URL | quote }}
  BACKEND_PORT: {{ .Values.backend.service.port | quote }}
  FRONTEND_PORT: {{ .Values.frontend.service.port | quote }}
  VITE_API_URL: {{ .Values.frontend.env.VITE_API_URL | quote }}
