apiVersion: v1
kind: Service
metadata:
  name: todo-chatbot-frontend
  namespace: todo-chatbot
  labels:
    app: todo-chatbot
    component: frontend
spec:
  type: NodePort
  selector:
    app: todo-chatbot
    component: frontend
  ports:
  - name: http
    port: 80
    targetPort: 80
    nodePort: 30080
    protocol: TCP
  sessionAffinity: None
